@media screen and (min-width: 701px) {

	body {
		font-size: 16pt;
	}

	.mainnav {
		width: 100%;
	}

	.title {
		font-size: 40pt;
	}

	.desc {
		font-size: 13pt;
	}

	#me {
		width: 20%;
		height: 20%;
	}

	#pics {
		display: block;
		margin: auto;
		text-align: center;
	}

	#pics img {
		width: 35%;
		height: 35%;
	}

	.cs {
		font-size: 50pt;
	}

	#icons img {
		width: 9%;
		height: 9%;
	}
}